<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/jpeg" href="/logo/green.jpg">


  <title>Medicine Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-H2MZ9Fp9lYP6XPXt8i3Oe0k9tuwEUGhzRgY+y2Q/fUap7nQn8VXo/yVX6HxzMcVD15GpTknBWqKPZeqbkRC0VQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
